.icon-gpxmotion-black {
    background-image: url("app_black.svg");
}

input[type=checkbox] {
    cursor: pointer;
}

.easy-button-container {
    z-index: 200 !important;
}

.leaflet-control-layers-list {
    z-index: 1100;
}
.leaflet-control-layers {
    background-color: var(--color-main-background) !important;
    color: var(--color-main-text) !important;
}
.leaflet-control-zoom a {
    background-color: var(--color-main-background) !important;
    color: var(--color-main-text) !important;
}
.leaflet-popup-content-wrapper {
    background-color: var(--color-main-background) !important;
}
.myTooltip {
    background-color: var(--color-main-background) !important;
    color: var(--color-main-text) !important;
}