#map {
  position: absolute;
  width: 100%;
  height: 100%;
}

body { margin: 0; }

#app {
    width: 100%;
}

.popupPhoto{
    width: 300px;
}
.popupTitle{
    text-align: center;
}

.legendPins p{
    font-size: 12px;
}
.legendPins div{
    width: 20px;
    height: 28px;
    background-size: 20px 28px;
}
.legendPins div[icon=pin]{
    background-image: url(gpxmotion_images/pin.png);
}
.legendPins div[icon=pinblue]{
    background-image: url(gpxmotion_images/pinblue.png);
}
.legendPins div[icon=pinred]{
    background-image: url(gpxmotion_images/pinred.png);
}
.dialogicon{
    width: 20px;
    height: 28px;
    background-size: 20px 28px;
}
.dialogicon[icon=plane] {
    background-image: url(gpxmotion_images/plane2.png);
}
.dialogicon[icon=train] {
    background-image: url(gpxmotion_images/train2.png);
}
.dialogicon[icon=bike] {
    background-image: url(gpxmotion_images/bike2.png);
}
.dialogicon[icon=hike] {
    background-image: url(gpxmotion_images/hike2.png);
}
.dialogicon[icon=car] {
    background-image: url(gpxmotion_images/car2.png);
}
.dialogicon[icon=bus] {
    background-image: url(gpxmotion_images/bus2.png);
}
.dialogicon[icon=kayak] {
    background-image: url(gpxmotion_images/kayak2.png);
}
.dialogicon[icon=boat] {
    background-image: url(gpxmotion_images/boat2.png);
}
#summary{
    font-weight: bold;
    text-align: center;
    overflow: auto;
    max-height: 20px;
}
.leaflet-control-dialog-inner{
    padding: 0 !important;
    z-index: 999999;
}
.leaflet-control-dialog-contents {
    /*max-height:450px !important;*/
    min-height: unset !important;
    /*overflow-y: auto !important;*/
    background-color: var(--color-main-background);
}
.leaflet-control-dialog-contents .legendVehicules {
    color: black;
}
#slider{
    width:100%;
    height:20px;
    /*border:1px solid #000;*/
    overflow:hidden;
}
#sliderbar{
    width:0%;
    height:20px;
    /*border-right: 1px solid #000000;*/
    background: lightcoral;
    border-radius: 5px;
}
#slidertext {
    color: #000000;
    font-size: 13px;
    font-style: italic;
    font-weight: bold;
    left: 25px;
    position: relative;
    top: -20px;
}
.legendVehicules{
    font-size: 16px;
    display: grid;
    grid-template-columns: 15% 85%;
}
.legendPins{
    font-size: 16px;
    display: grid;
    grid-template-columns: 30% 70%;
}
.marker-icon-plane, .marker-icon-bike, .marker-icon-hike, .marker-icon-car, .marker-icon-bus, .marker-icon-train, .marker-icon-kayak, .marker-icon-boat {
    background-size: 40px 52px !important;
    background-repeat: no-repeat !important;
    width: 40px !important;
    height: 52px !important;
}
.marker-icon-pin, .marker-icon-pinblue, .marker-icon-pinred {
    background-size: 25px 39px !important;
    background-repeat: no-repeat !important;
    width: 25px !important;
    height: 39px !important;
}
.marker-icon-plane{
    background-image: url('gpxmotion_images/plane2.png') !important;
}
.marker-icon-bike {
    background-image: url('gpxmotion_images/bike2.png') !important;
}
.marker-icon-train{
    background-image: url('gpxmotion_images/train2.png') !important;
}
.marker-icon-bus {
    background-image: url('gpxmotion_images/bus2.png') !important;
}
.marker-icon-car{
    background-image: url('gpxmotion_images/car2.png') !important;
}
.marker-icon-hike {
    background-image: url('gpxmotion_images/hike2.png') !important;
}
.marker-icon-kayak {
    background-image: url('gpxmotion_images/kayak2.png') !important;
}
.marker-icon-boat {
    background-image: url('gpxmotion_images/boat2.png') !important;
}
.marker-icon-pin {
    background-image: url('gpxmotion_images/pin.png') !important;
}
.marker-icon-pinblue{
    background-image: url('gpxmotion_images/pinblue.png') !important;
}
.marker-icon-pinred {
    background-image: url('gpxmotion_images/pinred.png') !important;
}
.easy-button-button {
    margin: 0 !important;
    padding: 0 !important;
}
.easy-button-button span.fa{
    font-size: 20px;
    margin-top: 7px;
}
.easy-button-button{
    background-color: var(--color-main-background) !important;
}
.leaflet-control-layers-selector, button.ui-button {
    min-height: 0px;
}
.ui-dialog{
    z-index: 2001 !important;
}
#linkinput {
    width: 98%;
}
.invisible-icon {
    /*opacity: 0%;*/
    background-color: black;
}
#optiondiv {
    display: grid;
    grid-template-columns: 70% 30%;
}
#optiondiv input{
    min-height: 0px;
}
#optiondiv label{
    margin-top: auto;
    margin-bottom: auto;
}
#timediv {
    text-align: center;
    font-weight: bold;
}
.numberMarker, .numberBeginMarker {
    text-align: center;
    width: 12px !important;
    height: 12px !important;
    border-radius: 50%;
    line-height:12px;
}
.numberMarker {
    background-color: rgba(255, 255, 255, 0.6);
}
.numberBeginMarker {
    background-color: lightgreen;
}
.circlebackground {
    border-radius: 50%;
    background-color: lightgreen;
    height: 24px;
    text-align: center;
}
.legendTitle {
    border-radius: 10px;
    text-align: center;
}
.bordered {
    border: 2px solid red;
}
#legendPinsDiv {
    display: none;
}
#legendh {
    cursor: pointer;
}
.leaflet-bottom {
    position: fixed;
}
